@model SistemaPlanillas.Models.UserCompositeModel

@{
    string UserRole = ViewBag.UserRole;
    string UserDepart = ViewBag.UserDept;
    string viewName = "";

    switch (UserRole)
    {
        case "ADMIN":
            viewName = "AdminView";
            break;
        case "EMPLOYEE":
            viewName = "EmployeeView";
            break;
        case "PAYROLL CLERK":
            viewName = "PayrollView";
            break;
        default:
            viewName = "UndefinedView";
            break;
    }
}

<html coupert-item="9AF8D9A4E502F3784AD24272D81F0381">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>

    <!-- Custom styles for this template -->
    <link href="/Content/bootstrap-transform.css" rel="stylesheet">
    <link href="~/Content/StyleForms.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <nav id="navbar" class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">XYZ S.A.</font></font></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Navegación de palanca">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action(viewName, "Role", new { userId = @Model.User.id })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Home</font></font></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("ProfileModule", "Role", new { userId = @Model.User.id })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Profile</font></font></a>
                    </li>

                    @if (ViewBag.UserRole == "ADMIN")
                    {
                        <li>
                            <a class="nav-link" href="@Url.Action("RoleModule", "Admin", new { id = @Model.User.id })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Roles</font></font></a>
                        </li>
                        <li>
                            <a class="nav-link" href="@Url.Action("AssignRole", "Admin", new { id = @Model.User.id })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Assign Roles</font></font></a>
                        </li>
                    }
                    else if (ViewBag.UserRole == "UNDEFINED")
                    {
                    }
                    else if (ViewBag.UserRole == "EMPLOYEE")
                    {
                        <li>
                            <a class="nav-link" href="@Url.Action("ConsultModule", "Employee", new { userId = @Model.User.id })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Consult</font></font></a>
                        </li>
                    }
                    else if (ViewBag.UserRole == "PAYROLL CLERK")
                    {
                        if (ViewBag.UserDept == "Human Resources")
                        {
                            <li>
                                <a class="nav-link" href="@Url.Action("HumanResources", "Payroll", new { id = @Model.User.id })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">RRHH</font></font></a>
                            </li>
                        }
                        <li>
                            <a class="nav-link" href="@Url.Action("PayrollModule", "Payroll", new { userId = @Model.User.id })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Payroll</font></font></a>
                        </li>
                    }

                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Home")"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Log Out</font></font></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="profile-wrapper">
        <div class="profile-container">
            <div>
                <h1 style="margin-bottom:50px;">Hi @Model.User.name!</h1>
            </div>

            <h1 class="table-title">Your personal Information</h1>
            <input type="hidden" id="userId" value="@Model.User.id" />
            <table class="table">

                <tbody>
                    <tr>
                        <!-- Fila #1 -->
                        <td>
                            <div class="input-container">
                                <i class='bx bx-user-circle'></i>
                                <strong>Name:</strong> @Model.User.name
                                <div class="input-wrapper">
                                    <input type="text" name="name" value="" data-field="name" />
                                    <button type="button" class="btn-update">Update</button>
                                    <button type="reset" class="btn-cancel">Cancel</button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="input-container">
                                <i class='bx bx-buildings'></i>
                                <strong>Department:</strong> @Model.Department.name_departament
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <!-- Fila #2 -->
                        <td>
                            <div class="input-container">
                                <i class='bx bx-user-circle'></i>
                                <strong>Last Name(s):</strong> @Model.User.lastname
                                <div class="input-wrapper">
                                    <input type="text" name="name" value="" data-field="lastname" />
                                    <button type="button" class="btn-update">Update</button>
                                    <button type="reset" class="btn-cancel">Cancel</button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="input-container">
                                <i class='bx bx-user-voice'></i>
                                <strong>Your Role:</strong> @ViewBag.UserRole
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <!-- Fila #3 -->
                        <td>
                            <div class="input-container">
                                <i class='bx bx-phone'></i>
                                <strong>Phone Number:</strong> @Model.User.phone
                                <div class="input-wrapper">
                                    <input type="text" name="name" value="" data-field="phone" />
                                    <button type="button" class="btn-update">Update</button>
                                    <button type="reset" class="btn-cancel">Cancel</button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="input-container">
                                <i class='bx bx-credit-card'></i>
                                <strong>Tipo de pago:</strong> @Model.Status.name_status
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <!-- Fila #4 -->
                        <td>
                            <div class="input-container">
                                <i class='bx bx-envelope'></i>
                                <strong>Email:</strong> @Model.User.email
                                <div class="input-wrapper">
                                    <input type="text" name="name" value="" data-field="email" />
                                    <button type="button" class="btn-update">Update</button>
                                    <button type="reset" class="btn-cancel">Cancel</button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="input-container">
                                <i class='bx bx-money'></i>
                                <strong>Monto del salario:</strong> @Model.Status.name_status
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </main>

    <script src="~/Scripts/JS/profile.js"></script>

    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>