@model List<SistemaPlanillas.Models.UserCompositeModel>

@{
    string idModel = ViewBag.idModel;
}


<html coupert-item="9AF8D9A4E502F3784AD24272D81F0381">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DDoPX</title>

    <!-- Custom styles for this template -->
    <link href="/Content/bootstrap-transform.css" rel="stylesheet">
    <link href="~/Content/StyleForms.css" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <nav id="navbar" class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">XYZ S.A.</font></font></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Navegación de palanca">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("PayrollView2", "Role", new { userId = idModel })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Home</font></font></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("ProfileModule2", "Role", new { userId = idModel })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Profile</font></font></a>
                    </li>
                    <li>
                        <a class="nav-link" href="@Url.Action("DDoPX", "Payroll", new { userId = idModel })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Deducciones</font></font></a>
                    </li>

                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Home")"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Log Out</font></font></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="assign-role-wrapper">
        <div class="container">
            <div class="look-container">
                <h1>LOOK UP FOR AN SPECIFIC USER</h1>
                <form action="@Url.Action("DDoPX", "Payroll", new { id = idModel })" method="get" class="search-form">
                    <div class="input-group">
                        <div class="form-outline">
                            <input name="nameOrEmail" placeholder="Search for an user using the name or email" class="form-control" />
                        </div>
                        <button type="submit" class="btn btn-primary d-flex align-items-center">
                            <i class='bx bx-search-alt me-2'></i>Buscar
                        </button>
                    </div>
                </form>
            </div>

            <h1>LIST OF USERS</h1>

            <form action="/Payroll/formCreateDeduction" method="get">
                <input type="hidden" name="idUserLogin" value="@idModel" />
                <button type="submit" class="btn btn-primary">Crear deduccion<i class='bx bx-edit-alt'></i></button>
            </form>

            <br />  


            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Tipo deduccion</th>
                        <th scope="col">Monto</th>
                        <th scope="col">Accion</th>
                        <th scope="col">Action</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var UserCompositeModel in Model)
                    {
                        <tr>
                            <td>@UserCompositeModel.User.name</td>
                            <td>@UserCompositeModel.User.email</td>
                            <td>@UserCompositeModel.deductions.notes</td>
                            <td>@UserCompositeModel.deduction_Type.deduction_name</td>
                            <td>@UserCompositeModel.deductions.deduction_value</td>

                            <td>
                                <form action="/Payroll/editDeductionForm" method="get">
                                    <input type="hidden" name="idUserEdit" value="@UserCompositeModel.deductions.id_deduction" />
                                    <input type="hidden" name="idUserLogin" value="@idModel" />
                                    <button type="submit" class="btn btn-primary">Editar<i class='bx bx-edit-alt'></i></button>
                                </form>
                            </td>
                            <td>
                                <form action="/Payroll/deleteDeduction" method="get">
                                    <input type="hidden" name="idUserDelete" value="@UserCompositeModel.deductions.id_deduction" />
                                    <input type="hidden" name="idUserLogin" value="@idModel" />
                                    <button type="submit" class="btn btn-primary" style="background-color: #B22222">Eliminar<i class='bx bx-edit-alt'></i></button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </main>

    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>