@model List<SistemaPlanillas.Models.UserCompositeModel>

@{
    string UserDepart = ViewBag.UserDept;
    int idUserLogin = ViewBag.idUserLogin;
    int idUserEdit = ViewBag.idUserEdit;
    var deleteStatus = TempData["DeleteStatus"] as string;
    var createStatus = TempData["CreateStatus"] as string;
    var updateStatus = TempData["UpdateStatus"] as string;
}

<html coupert-item="9AF8D9A4E502F3784AD24272D81F0381">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deductions</title>

    <!-- Custom styles for this template -->
    <link href="/Content/bootstrap-transform.css" rel="stylesheet">
    <link href="~/Content/StyleForms.css" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <nav id="navbar" class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">XYZ S.A.</font></font></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Navegación de palanca">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("PayrollView", "Role", new { userId = idUserLogin })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Home</font></font></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("ProfileModule", "Role", new { userId = idUserLogin })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Profile</font></font></a>
                    </li>
                    @if (ViewBag.UserDept == "Human Resources")
                    {
                        <li>
                            <a class="nav-link" href="@Url.Action("HumanResources", "Payroll", new {id = idUserLogin })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">RRHH</font></font></a>
                        </li>
                        <li>
                            <a class="nav-link" href="@Url.Action("HolidaysModule", "Licence", new { userId = idUserLogin })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Holidays</font></font></a>
                        </li>
                    }
                    <li>
                        <a class="nav-link" href="@Url.Action("PayrollModule", "Payroll", new { userId = idUserLogin })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Payroll</font></font></a>
                    </li>
                    <li>
                        <a class="nav-link" href="@Url.Action("LicencesViewUser", "Licence", new { id = idUserLogin })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Licence</font></font></a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Home")"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Log Out</font></font></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="assign-role-wrapper">
        <div class="container">

            <h1>List of deductions for the user </h1>

            <form action="/Payroll/CreateDeductionForm" style="margin-bottom:40px">
                <input type="hidden" name="idUserLogin" value="@idUserLogin" />
                <input type="hidden" name="idUserEdit" value="@idUserEdit" />
                <button type="submit" class="btn btn-primary create">Create Deduction <i class='bx bx-message-square-add'></i></button>
            </form>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Description</th>
                        <th scope="col">Deduction Type</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Accion</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var UserCompositeModel in Model)
                    {
                        <tr>
                            <td>@UserCompositeModel.User.name</td>
                            <td>@UserCompositeModel.User.email</td>
                            <td>@UserCompositeModel.deductions.notes</td>
                            <td>@UserCompositeModel.deduction_Type.deduction_name</td>
                            <td>@UserCompositeModel.deductions.deduction_value</td>

                            <td>
                                <form action="/Payroll/EditDeductionForm" method="get">
                                    <input type="hidden" name="idDeductEdit" value="@UserCompositeModel.deductions.id_deduction" />
                                    <input type="hidden" name="idUserLogin" value="@idUserLogin" />
                                    <button type="submit" class="btn btn-primary">Edit<i class='bx bx-edit-alt'></i></button>
                                </form>
                            </td>
                            <td>
                                <form action="/Payroll/deleteDeduction" method="get" id="deleteForm">
                                    <input type="hidden" name="idUserLogin" value="@idUserLogin" />
                                    <input type="hidden" name="idUserEdit" value="@UserCompositeModel.User.id" />
                                    <input type="hidden" name="idDeductDelete" value="@UserCompositeModel.deductions.id_deduction" />

                                    <button type="submit" class="btn btn-primary delete">Remove<i class='bx bx-message-square-x'></i></button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </main>

    <script src="~/Scripts/JS/SweetAlerts.js"></script>

    @if (!string.IsNullOrEmpty(deleteStatus))
    {
        <script>
            if ('@deleteStatus' === "success") {
                showSuccessAlert("Deduction Deleted", "");
            }
            @TempData["DeleteStatus"] = null;
        </script>
    }

    @if (!string.IsNullOrEmpty(createStatus))
    {
        <script>
            if ('@createStatus' === "success") {
                showSuccessAlert("Deduction Created", "");
            }
            @TempData["CreateStatus"] = null;
        </script>
    }

    @if (!string.IsNullOrEmpty(updateStatus))
    {
        <script>
            if ('@updateStatus' === "success") {
                showSuccessAlert("Deduction Updated", "");
            }
            @TempData["UpdateStatus"] = null;
        </script>
    }

    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>