@model SistemaPlanillas.Models.UserCompositeModel

@{
    int idUserLogin = ViewBag.idUserLogin;
    string UserDepart = ViewBag.UserDept;
}


<html coupert-item="9AF8D9A4E502F3784AD24272D81F0381">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>formEditDeducciones</title>

    <!-- Custom styles for this template -->
    <link href="/Content/bootstrap-transform.css" rel="stylesheet">
    <link href="~/Content/StyleForms.css" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <nav id="navbar" class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">XYZ S.A.</font></font></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Navegación de palanca">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("PayrollView", "Role", new { userId = idUserLogin })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Home</font></font></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("ProfileModule", "Role", new { userId = idUserLogin })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Profile</font></font></a>
                    </li>
                    @if (ViewBag.UserDept == "Human Resources")
                    {
                        <li>
                            <a class="nav-link" href="@Url.Action("HumanResources", "Payroll", new {id = idUserLogin })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">RRHH</font></font></a>
                        </li>
                    }
                    <li>
                        <a class="nav-link" href="@Url.Action("PayrollModule", "Payroll", new { userId = idUserLogin })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Payroll</font></font></a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Home")"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Log Out</font></font></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="wrapper">
        <div class="form-container">
            <form action="/PayRoll/storeEditDeduction" method="post">
                <div class="form-group">
                    <h1>Edit deduction</h1>

                    <label for="NewDepartments" class="form-label mt-4">Email</label>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="descripcion" value="@Model.User.email" name="email" readonly>
                        <label for="floatingInput">Email</label>
                    </div>

                    <label for="NewDepartments" class="form-label mt-4">Description</label>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="@Model.deductions.notes" value="@Model.deductions.notes" name="description">
                        <label for="floatingInput">Description</label>
                    </div>

                    <div class="form-group">
                        <label for="NewDepartments" class="form-label mt-4">Deductions</label>
                        <select class="form-select" id="NewDepartments" name="typeDeductions" required>
                            <option>@Model.deduction_Type.deduction_name</option>
                            @foreach (var deduction in Model.deduction_TypeList)
                            {
                                {
                                    <option>@deduction.deduction_name</option>
                                }
                            }
                        </select>
                    </div>

                    <label for="NewDepartments" class="form-label mt-4">Amount</label>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="amount" value="@Model.deductions.deduction_value" name="amount" required>
                        <label for="floatingInput">amount</label>
                    </div>

                    <!-- Add a button to trigger the SweetAlert message -->
                    <button type="button" id="successButton" style="display:none;"></button>

                    <!--================ Buttons =================-->
                    <div class="button-container">
                        <button type="submit">Save</button>
                        <button type="reset">Cancel</button>
                        <br />

                    </div>
                </div>
                <input type="hidden" name="idDeductionEdit" value="@Model.deductions.id_deduction" />
                <input type="hidden" name="idUserEdit" value="@Model.User.id" />
                <input type="hidden" name="idUserLogin" value="@idUserLogin" />
            </form>

        </div><!--================ End of Form container =================-->
    </div><!--================ End of Wrapper =================-->




    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>