@model List<SistemaPlanillas.Models.UserCompositeModel>

@{
    ViewBag.Title = "ExtraordinaryPaymentModule";
    string idModel = ViewBag.idModel;
    string UserDepart = ViewBag.UserDept;
}


<html coupert-item="9AF8D9A4E502F3784AD24272D81F0381">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extraordinay Payments</title>

    <!-- Custom styles for this template -->
    <link href="/Content/bootstrap-transform.css" rel="stylesheet">
    <link href="~/Content/StyleForms.css" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <nav id="navbar" class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">XYZ S.A.</font></font></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Navegación de palanca">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("PayrollView", "Role", new { userId = idModel })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Home</font></font></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("ProfileModule", "Role", new { userId = idModel })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Profile</font></font></a>
                    </li>
                    @if (ViewBag.UserDept == "Human Resources")
                    {
                        <li>
                            <a class="nav-link" href="@Url.Action("HumanResources", "Payroll", new {id = idModel })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">RRHH</font></font></a>
                        </li>
                    }
                    <li>
                        <a class="nav-link" href="@Url.Action("PayrollModule", "Payroll", new { userId = idModel })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Payroll</font></font></a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Home")"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Log Out</font></font></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="assign-role-wrapper">
        <div class="container">
            @foreach (var UserCompositeModel in Model)
            {
                <h1>List of Extraordinary payments of:  @UserCompositeModel.User.name</h1>
                break;
            }

            <form action="/Payroll/CreateExtraPaymentForm" method="get">
                <input type="hidden" name="idUserLogin" value="@idModel" />
                <button type="submit" class="btn btn-primary create">Create Extra Payment <i class='bx bx-message-square-add'></i></button>
            </form>

            <br />


            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Tipo Pago</th>
                        <th scope="col">Monto</th>
                        <th scope="col">Accion</th>
                        <th scope="col">Action</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var UserCompositeModel in Model)
                    {
                        <tr>
                            <td>@UserCompositeModel.User.name</td>
                            <td>@UserCompositeModel.User.email</td>
                            <td>@UserCompositeModel.Extraordinary_Payment.notes</td>
                            <td>@UserCompositeModel.Payment_Type.payment_name</td>
                            <td>@UserCompositeModel.Extraordinary_Payment.payment_value</td>

                            <td>
                                <form action="/Payroll/EditExtraPaymentForm" method="get">
                                    <input type="hidden" name="idUserEdit" value="@UserCompositeModel.Extraordinary_Payment.id_extraordinary_payment" />
                                    <input type="hidden" name="idUserLogin" value="@idModel" />
                                    <button type="submit" class="btn btn-primary">Editar<i class='bx bx-edit-alt'></i></button>
                                </form>
                            </td>
                            <td>
                                <form action="/Payroll/deleteExtraPayment" method="get">
                                    <input type="hidden" name="idUserDelete" value="@UserCompositeModel.Extraordinary_Payment.id_extraordinary_payment" /> 
                                    <input type="hidden" name="idUserLogin" value="@idModel" />
                                    <button type="submit" class="btn btn-primary delete">Eliminar<i class='bx bx-message-square-x'></i></button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </main>

    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>