@model List<SistemaPlanillas.Models.UserCompositeModel>

@{
    string UserDepart = ViewBag.UserDept;
    int idUserLogin = ViewBag.idUserLogin;
    var pendingStatus = TempData["PendingStatus"] as string;
}

<html coupert-item="9AF8D9A4E502F3784AD24272D81F0381">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payroll Submodule</title>

    <!-- Custom styles for this template -->
    <link href="/Content/bootstrap-transform.css" rel="stylesheet">
    <link href="~/Content/StyleForms.css" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <nav id="navbar" class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">XYZ S.A.</font></font></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Navegación de palanca">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("PayrollView", "Role", new { userId = idUserLogin })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Home</font></font></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("ProfileModule", "Role", new { userId = idUserLogin })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Profile</font></font></a>
                    </li>
                    @if (ViewBag.UserDept == "Human Resources")
                    {
                        <li>
                            <a class="nav-link" href="@Url.Action("HumanResources", "Payroll", new {id = idUserLogin })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">RRHH</font></font></a>
                        </li>
                        <li>
                            <a class="nav-link" href="@Url.Action("HolidaysModule", "Licence", new { userId = idUserLogin })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Holidays</font></font></a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("PayrollModule", "Payroll", new { userId = idUserLogin })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Payroll</font></font></a>
                    </li>
                    <li>
                        <a class="nav-link" href="@Url.Action("LicencesViewUser", "Licence", new { id = idUserLogin })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Licence</font></font></a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Home")"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Log Out</font></font></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="assign-role-wrapper">
        <div class="container">

            <h1>PAYMENT SUBMODULE </h1>

            <!-- PAYROLL BUTTONS SECTION -->
            <div class="row" style="margin-bottom:30px;">
                <!-- Monthly SECTION -->
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary" id="monthlyBtn">Monthly<i class='bx bx-calendar'></i></button>
                </div>
                <div class="col-md-2">
                    <!-- Hourly SECTION -->
                    <button type="submit" class="btn btn-primary" id="hourlyBtn">Hourly<i class='bx bx-calendar'></i></button>
                </div>
            </div>

            <!-- TABLE FOR MONTHLY SECTION -->
            <table class="table" id="monthlyTable">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Action</th>
                        <th scope="col">Action</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var UserCompositeModel in Model)
                    {
                        if (UserCompositeModel.Salary_Type.SalaryType == "Monthly")
                        {
                            <tr>
                                <td>@UserCompositeModel.User.name</td>
                                <td>@UserCompositeModel.User.email</td>

                                <!-- "PROCEED PAYMENT" SECTION -->
                                <td>
                                    <form action="/Payroll/ProcessPayView" method="get">
                                        <input type="hidden" name="idUserEdit" value="@UserCompositeModel.User.id" />
                                        <input type="hidden" name="idUserLogin" value="@idUserLogin" />
                                        <input type="hidden" name="salaryType" value="@UserCompositeModel.Salary_Type.SalaryType" />
                                        <button type="submit" class="btn btn-primary">Proceed Payment<i class='bx bx-money'></i></button>
                                    </form>
                                </td>
                                <!-- "REPORT" SECTION -->
                                <td>
                                    <form action="/Payroll/PayReportView" method="get">
                                        <input type="hidden" name="idUserEdit" value="@UserCompositeModel.User.id" />
                                        <input type="hidden" name="idUserLogin" value="@idUserLogin" />
                                        <input type="hidden" name="salaryType" value="@UserCompositeModel.Salary_Type.SalaryType" />
                                        <button type="submit" class="btn btn-primary">Payments Report<i class='bx bxs-report'></i></button>
                                    </form>
                                </td>
                                <!-- "HISTORY" SECTION -->
                                <td>
                                    <form action="/Payroll/PayHistoryView" method="get">
                                        <input type="hidden" name="idUserEdit" value="@UserCompositeModel.User.id" />
                                        <input type="hidden" name="idUserLogin" value="@idUserLogin" />
                                        <input type="hidden" name="salaryType" value="@UserCompositeModel.Salary_Type.SalaryType" />
                                        <button type="submit" class="btn btn-primary">Payments History<i class='bx bx-history'></i></button>
                                    </form>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

            <!-- TABLE FOR HOURLY SECTION -->
            <table class="table" style="display:none;" id="hourlyTable">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Action</th>
                        <th scope="col">Action</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var UserCompositeModel in Model)
                    {
                        if (UserCompositeModel.Salary_Type.SalaryType == "Hourly")
                        {
                            <tr>
                                <td>@UserCompositeModel.User.name</td>
                                <td>@UserCompositeModel.User.email</td>

                                <!-- "PAY" SECTION -->
                                <td>
                                    <form action="/Payroll/ProcessPayView" method="get">
                                        <input type="hidden" name="idUserEdit" value="@UserCompositeModel.User.id" />
                                        <input type="hidden" name="idUserLogin" value="@idUserLogin" />
                                        <input type="hidden" name="salaryType" value="@UserCompositeModel.Salary_Type.SalaryType" />
                                        <button type="submit" class="btn btn-primary">Proceed Payment<i class='bx bx-money'></i></button>
                                    </form>
                                </td>
                                <!-- "REPORT" SECTION -->
                                <td>
                                    <form action="/Payroll/PayReportView" method="get">
                                        <input type="hidden" name="idUserEdit" value="@UserCompositeModel.User.id" />
                                        <input type="hidden" name="idUserLogin" value="@idUserLogin" />
                                        <input type="hidden" name="salaryType" value="@UserCompositeModel.Salary_Type.SalaryType" />
                                        <button type="submit" class="btn btn-primary">Payments Report<i class='bx bxs-report'></i></button>
                                    </form>
                                </td>
                                <!-- "HISTORY" SECTION -->
                                <td>
                                    <form action="/Payroll/PayHistoryView" method="get">
                                        <input type="hidden" name="idUserEdit" value="@UserCompositeModel.User.id" />
                                        <input type="hidden" name="idUserLogin" value="@idUserLogin" />
                                        <button type="submit" class="btn btn-primary">Payments History<i class='bx bx-history'></i></button>
                                    </form>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

        </div>
    </main>

    <script src="~/Scripts/JS/ToggleForm.js"></script>
    <script src="~/Scripts/JS/SweetAlerts.js"></script>

    @if (!string.IsNullOrEmpty(pendingStatus))
    {
        <script>
            if ('@pendingStatus' === "pending") {
                showErrorAlert("There is already a pending payment to be approved", "");
            }
            @TempData["PendingStatus"] = null;
        </script>
    }
</body>
</html>
