@model List<SistemaPlanillas.Models.Users>

@{
    string UserDepart = ViewBag.UserDept;
    int userId = ViewBag.userId;
    ViewBag.Title = "PayrollModule";
}

<html coupert-item="9AF8D9A4E502F3784AD24272D81F0381">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PayrollModule</title>

    <!-- Custom styles for this template -->
    <link href="/Content/bootstrap-transform.css" rel="stylesheet">
    <link href="~/Content/StyleForms.css" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <nav id="navbar" class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">XYZ S.A.</font></font></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Navegación de palanca">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("PayrollView", "Role", new { userId = userId })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Home</font></font></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("ProfileModule", "Role", new { userId = userId })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Profile</font></font></a>
                    </li>
                    @if (ViewBag.UserDept == "Human Resources")
                    {
                        <li>
                            <a class="nav-link" href="@Url.Action("HumanResources", "Payroll", new {id = userId })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">RRHH</font></font></a>
                        </li>
                        <li>
                            <a class="nav-link" href="@Url.Action("HolidaysModule", "Licence", new { userId = userId })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Assing Holidays</font></font></a>
                        </li>
                    }
                    <li>
                        <a class="nav-link" href="@Url.Action("PayrollModule", "Payroll", new { userId = userId })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Payroll</font></font></a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Home")"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Log Out</font></font></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="assign-role-wrapper">
        <div class="container">
            <!-- HEADER SECTION -->
            <div class="look-container">
                <h1>LOOK UP FOR AN SPECIFIC USER</h1>
                <form action="@Url.Action("PayrollModule", "Payroll")" method="get" class="search-form">
                    <input type="hidden" name="userId" value="@userId" />
                    <div class="input-group">
                        <div class="form-outline">
                            <input name="nameOrEmail" placeholder="Search for an specific user using the name or email" class="form-control" style="width:500px;" />
                        </div>
                        <button type="submit" class="btn btn-primary d-flex align-items-center">
                            <i class='bx bx-search-alt me-2'></i>Search
                        </button>
                    </div>
                </form>
            </div>

            <!-- PAYROLL SUB-MODULE SECTION -->
            <div class="payrollSubmodule">
                <h1>VIEW THE PAYMENT'S MODULE </h1>
                <form action="/Payroll/PayrollSubModule" method="get" >
                    <input type="hidden" name="idUserLogin" value="@userId" />
                    <button type="submit" class="btn btn-primary">Payroll Module<i class='bx bx-wallet-alt'></i></button>
                </form>
            </div>

            <!-- TABLE SECTION -->
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Action</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Users in Model)
                    {
                        <tr>
                            <td>@Users.name</td>
                            <td>@Users.lastname</td>
                            <td>@Users.email</td>
                            <td>
                                <form action="/Payroll/ExtraPayModule" method="get">
                                    <input type="hidden" name="idUserLogin" value="@userId" />
                                    <input type="hidden" name="idUserEdit" value="@Users.id" />
                                    <button type="submit" class="btn btn-primary create">Extra Payments<i class='bx bx-message-square-add'></i></button>
                                </form>
                            </td>
                            <td>
                                <form action="/Payroll/DeductionsModule" method="get">
                                    <input type="hidden" name="idUserLogin" value="@userId" />
                                    <input type="hidden" name="idUserEdit" value="@Users.id" />
                                    <button type="submit" class="btn btn-primary delete">Deductions<i class='bx bx-message-square-minus'></i></button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </main>

    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>