@model SistemaPlanillas.Models.UserCompositeModel
@{
    string UserRole = ViewBag.UserRole;
    string UserDepart = ViewBag.UserDept;
    string viewName = "";
    var createStatus = TempData["CreateStatus"] as string;

    switch (UserRole)
    {
        case "ADMIN":
            viewName = "AdminView";
            break;
        case "EMPLOYEE":
            viewName = "EmployeeView";
            break;
        case "PAYROLL CLERK":
            viewName = "PayrollView";
            break;
        default:
            viewName = "UndefinedView";
            break;
    }
}

<html coupert-item="9AF8D9A4E502F3784AD24272D81F0381">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>

    <!-- Custom styles for this template -->
    <link href="/Content/bootstrap-transform.css" rel="stylesheet">
    <link href="~/Content/StyleForms.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js" integrity="sha512-42PE0rd+wZ2hNXftlM78BSehIGzezNeQuzihiBCvUEB3CVxHvsShF86wBWwQORNxNINlBPuq7rG4WWhNiTVHFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>

</head>
<body>
    <nav id="navbar" class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">XYZ S.A.</font></font></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Navegación de palanca">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action(viewName, "Role", new { userId = @Model.User.id })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Home</font></font></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("ProfileModule", "Role", new { userId = @Model.User.id })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Profile</font></font></a>
                    </li>

                    @if (ViewBag.UserRole == "ADMIN")
                    {
                        <li>
                            <a class="nav-link" href="@Url.Action("RoleModule", "Admin", new { id = @Model.User.id })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Roles</font></font></a>
                        </li>
                        <li>
                            <a class="nav-link" href="@Url.Action("AssignRole", "Admin", new { id = @Model.User.id })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Assign Roles</font></font></a>
                        </li>
                        <li>
                            <a class="nav-link" href="@Url.Action("LicencesViewUser", "Licence", new { id = @Model.User.id })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Licence</font></font></a>
                        </li>
                    }
                    else if (ViewBag.UserRole == "UNDEFINED")
                    {
                    }
                    else if (ViewBag.UserRole == "EMPLOYEE")
                    {
                        <li>
                            <a class="nav-link" href="@Url.Action("ConsultModule", "Employee", new { userId = @Model.User.id })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Consult</font></font></a>
                        </li>
                        <li>
                            <a class="nav-link" href="@Url.Action("LicencesViewUser", "Licence", new { id = @Model.User.id })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Licence</font></font></a>
                        </li>
                    }
                    else if (ViewBag.UserRole == "PAYROLL CLERK")
                    {
                        if (ViewBag.UserDept == "Human Resources")
                        {
                            <li>
                                <a class="nav-link" href="@Url.Action("HumanResources", "Payroll", new { id = @Model.User.id })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">RRHH</font></font></a>
                            </li>
                            <li>
                                <a class="nav-link" href="@Url.Action("HolidaysModule", "Licence", new { userId = @Model.User.id })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Assing Holidays</font></font></a>
                            </li>
                            <li>
                                <a class="nav-link" href="@Url.Action("EmployeeLicences", "Licence", new { idUserLogin = @Model.User.id })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">EmployeeLicences</font></font></a>
                            </li>
                        }
                        <li>
                            <a class="nav-link" href="@Url.Action("PayrollModule", "Payroll", new { userId = @Model.User.id })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Payroll</font></font></a>
                        </li>

                    }

                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Home")"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Log Out</font></font></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="wrapper">
        <div class="form-container">
            <form action="/Licence/storeLicenseUser" method="post">
                <div class="form-group">
                    <h1>Create Licenset</h1>

                    <div class="form-group">
                        <label class="form-label mt-4">Type license</label>
                        <select class="form-select" name="typeLicense" required>
                            <option>Choose a license type</option>
                            @foreach (var licenses in Model.License_List_Type)
                            {
                                <option value="@licenses.name_license">@licenses.name_license</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-label mt-4">Select start day </label>
                        <input type="date" id="birthday" name="startDay">
                    </div>
                    <div class="form-group">
                        <label class="form-label mt-4">Select finally day </label>
                        <input type="date" id="birthday" name="finallyDay">
                    </div>

                    <div class="form-group">
                        <label class="form-label mt-4">Select days </label>
                        <select class="form-select" aria-label="Default select example" name="selectedDays" required>
                            @for (int i = 0; i <= 31; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                    <!-- Notes -->
                    <label class="form-label mt-4">Notes</label>
                    <div class="form-floating mb-3">
                        <textarea type="text" class="form-control" placeholder="Nota" value="" name="notes"></textarea>
                        <label for="description">Notes</label>
                    </div>

                    <!--================ pasar el usuario logueado =================-->
                    <input type="hidden" name="idUserLogin" value="@Model.User.id" />
                    <input type="hidden" name="idUserEdit" value="@Model.User.id" />

                    <!--================ Buttons =================-->
                    <div class="button-container">
                        <button type="submit">Save</button>
                        <button type="reset">Cancel</button>
                    </div>
                </div>
            </form>

        </div><!--================ End of Form container =================-->
    </div><!--================ End of Wrapper =================-->

    <script src="~/Scripts/JS/SweetAlerts.js"></script>

    @if (!string.IsNullOrEmpty(createStatus))
    {
        <script>
            if ('@createStatus' === "failed") {
                showErrorAlert("You don't have that amount of days available", "");
            }
            @TempData["CreateStatus"] = null;
        </script>
    }
    @Scripts.Render("~/bundles/bootstrap")
</body>

</html>