@model SistemaPlanillas.Models.Roles

@{
    string idModel = ViewBag.idModel;
}

<html coupert-item="9AF8D9A4E502F3784AD24272D81F0381">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>

    <!-- Custom styles for this template -->
    <link href="/Content/bootstrap-transform.css" rel="stylesheet">
    <link href="~/Content/StyleForms.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

    <nav id="navbar" class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">XYZ S.A.</font></font></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Navegación de palanca">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("AdminView", "Role", new { userId = @idModel })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Home</font></font></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("ProfileModule", "Role", new { userId = @idModel  })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Profile</font></font></a>
                    </li>
                    <li>
                        <a class="nav-link" href="@Url.Action("RoleModule", "Admin" , new { id = @idModel })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit; color: white">Roles</font></font></a>
                    </li>
                    <li>
                        <a class="nav-link" href="@Url.Action("AssignRole", "Admin", new { id = @idModel })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Assign Roles</font></font></a>
                    </li>
                    <li>
                        <a class="nav-link" href="@Url.Action("LicencesViewUser", "Licence", new { id = @idModel })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Licence</font></font></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <h1>Editar rol</h1>

    <form action="@Url.Action("StoreEditedRole", "Admin" , new { id = @idModel })" method="post">
        <div class="mb-3">
            <label for="nameRol" class="form-label">Nombre del rol</label>
            <input type="hidden" style="text-transform:uppercase" name="oldRol" value="@Model.name_rol">
            <input type="text" style="text-transform:uppercase" oninput="this.value = this.value.toUpperCase();" class="form-control" name="rol" value="@Model.name_rol">
        </div>
        <button type="submit" class="btn btn-primary">Editar rol</button>
    </form>

</body>
</html>
