@model SistemaPlanillas.Models.modelCompuesto

@{
    string idModel = ViewBag.idModel;
}

<html coupert-item="9AF8D9A4E502F3784AD24272D81F0381">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AsingRoles</title>

    <!-- Custom styles for this template -->
    <link href="/Content/bootstrap-transform.css" rel="stylesheet">
    <link href="~/Content/StyleForms.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <nav id="navbar" class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">XYZ S.A.</font></font></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Navegación de palanca">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="https://localhost:44319/Role/AdminView?userId=@idModel"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Home</font></font></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("ProfileModule", "Role", new { id = @idModel  })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Profile</font></font></a>
                    </li>
                    <li>
                        <a class="nav-link" href="@Url.Action("RoleModule", "Role", new { id = @idModel })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Roles</font></font></a>
                    </li>
                    <li>
                        <a class="nav-link" href="@Url.Action("AssignRole", "Role", new { id = @idModel })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Assign Roles</font></font></a>
                    </li>
                    <li>
                        <form action="@Url.Action("AssignRole", "Role", new { id = @idModel })" method="get">
                            <div class="input-group">
                                <div class="form-outline">
                                    <input name="nameOrEmail" style="width: 400px;" placeholder="Búsqueda de usuarios por nombre o correo electrónico." class="form-control" />
                                </div>
                                <button type="submit" class="btn btn-primary" style="width:100px">
                                    Buscar
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Home")"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Log Out</font></font></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <h1>ASIGNAR ROL A USUARIO</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col">Estado</th>
                <th scope="col">Editar</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var users2 in Model.User)
            {
                <tr>
                    <td>@users2.name</td>
                    <td>@users2.email</td>
                    <td>
                        @foreach (var RDU in Model.RoleDeparmentUser)
                        {
                            if (users2.id == RDU.fk_id_user)
                            {
                                foreach (var roles in Model.Role)
                                {
                                    if (RDU.fk_id_rol == roles.id)
                                    {
                                        @roles.name_rol
                                    }
                                }
                            }
                        }
                    </td>
                    <td>
                        @foreach (var status in Model.Status)
                        {
                            if (users2.fk_id_status == status.id)
                            {
                                @status.name_status
                                break;
                            }
                        }
                    </td>
                    <td>
                        <form action="@Url.Action("AssignRoleForm", "Role", new { id = @idModel })" method="get">
                            <input type="hidden" name="id"  value="@users2.id"/>
                            <button type="submit" class="btn btn-primary">Editar </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>