@model List<SistemaPlanillas.Models.departaments>


<html coupert-item="9AF8D9A4E502F3784AD24272D81F0381">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FormUserCreate</title>
    <link href="/Content/bootstrap-transform.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">XYZ S.A.</font></font></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Navegación de palanca">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Home")"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Home</font></font></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("FormUserCreate", "User")"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sign Up</font></font></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Login</font></font></a>
                    </li>
                </ul>
                <form class="d-flex">
                </form>
            </div>
        </div>
    </nav>


    <form action="@Url.Action("storeUser", "User")" method="post">
        <div class="form-group">
            <label class="form-label mt-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sign Up Form</font></font></label>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Name" name="name">
                <label for="floatingInput"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Name</font></font></label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Last Name" name="lastName">
                <label for="floatingInput"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Last Name</font></font></label>
            </div>

            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="Email" name="email">
                <label for="floatingInput"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Email</font></font></label>
                <p>@TempData["repeatEmail"]</p>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Phone" name="phone">
                <label for="floatingInput"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Phone</font></font></label>
            </div>

            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="pass1">
                <label for="floatingPassword"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Password</font></font></label>
                <p>@TempData["contraseñaIncorrecta"]</p>
            </div>

            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password again" name="pass2">
                <label for="floatingPassword"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Password again</font></font></label>
                <p>@TempData["contraseñaIncorrecta"]</p>
            </div>

            <div class="form-group">
                <label for="exampleSelect1" class="form-label mt-4">Example select</label>
                <select class="form-select" id="exampleSelect1" name="departments">
                    <option>Seleccione un departamento</option>
                    @foreach (var department in Model)
                    {
                        <option>@department.name_departament</option>
                    }
                </select>
            </div>

            <button type="submit">Save</button>
            <p>@TempData["UsuarioCreadoCorrectamente"]</p>
        </div>


    </form>

</body>
</html>