@model List<SistemaPlanillas.Models.UserCompositeModel>

@{
    string UserDepart = ViewBag.UserDept;
    string salaryType = ViewBag.salaryType;
    int idUserLogin = ViewBag.idUserLogin;
    int idUserEdit = ViewBag.idUserEdit;
}

<html coupert-item="9AF8D9A4E502F3784AD24272D81F0381">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Report</title>

    <!-- Custom styles for this template -->
    <link href="/Content/bootstrap-transform.css" rel="stylesheet">
    <link href="~/Content/StyleForms.css" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <nav id="navbar" class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">XYZ S.A.</font></font></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Navegación de palanca">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("PayrollView", "Role", new { userId = idUserLogin })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Home</font></font></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("ProfileModule", "Role", new { userId = idUserLogin })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Profile</font></font></a>
                    </li>
                    @if (ViewBag.UserDept == "Human Resources")
                    {
                        <li>
                            <a class="nav-link" href="@Url.Action("HumanResources", "Payroll", new {id = idUserLogin })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">RRHH</font></font></a>
                        </li>
                    }
                    <li>
                        <a class="nav-link" href="@Url.Action("PayrollModule", "Payroll", new { userId = idUserLogin })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Payroll</font></font></a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Home")"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Log Out</font></font></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="assign-role-wrapper">
        <div class="container">

            <h1>PAYMENT REPORT </h1>

            @if (ViewBag.salaryType == "Monthly")
            {
                <!-- TABLE FOR MONTHLY PAYMENTS SECTION -->
                <table class="table" id="monthlyTable">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Total days Worked</th>
                            <th scope="col">Total Earnings</th>
                            <th scope="col">Action</th>
                            <th scope="col">Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var UserCompositeModel in Model)
                        {

                            <tr>
                                <td>@UserCompositeModel.User.name</td>
                                <td>@UserCompositeModel.User.email</td>
                                <td>@UserCompositeModel.MonthlyPayroll.total_workDays</td>
                                <td>@UserCompositeModel.MonthlyPayroll.total_earnings</td>

                                <!-- APPROVE PAYMENT SECTION -->
                                <td>
                                    <form action="" method="get">
                                        <button type="submit" class="btn btn-primary">Approve Payment<i class='bx bx-check-circle'></i></button>
                                    </form>
                                </td>
                                <!-- DECLINED PAYMENT SECTION -->
                                <td>
                                    <form action="" method="get">
                                        <button type="submit" class="btn btn-primary delete">Decline Payment<i class='bx bx-x-circle'></i></button>
                                    </form>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            }
            else
            {
                <!-- REPORT  BUTTONS SECTION -->
                <div class="row" style="margin-bottom:30px;">
                    <!-- APPROVE SECTION -->
                    <div class="col-md-2">
                        <form action="" method="get">
                            <button type="submit" class="btn btn-primary">Approve Payment<i class='bx bx-check-circle'></i></button>
                        </form>
                    </div>
                     <!-- DECLINED SECTION -->
                    <div class="col-md-2">
                        <form action="" method="get">
                            <button type="submit" class="btn btn-primary delete">Decline Payment<i class='bx bx-x-circle'></i></button>
                        </form>
                    </div>
                </div>

                <!-- TABLE FOR HOURLY PAYMENTS SECTION -->
                <table class="table" id="monthlyTable">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Work Day</th>
                            <th scope="col">Work Hours</th>
                            <th scope="col">Total Earnings</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var UserCompositeModel in Model)
                        {

                            <tr>
                                <td>@UserCompositeModel.User.name</td>
                                <td>@UserCompositeModel.User.email</td>
                                <td>@UserCompositeModel.HourlyPayroll.work_day</td>
                                <td>@UserCompositeModel.HourlyPayroll.worked_hours</td>
                                <td>@UserCompositeModel.HourlyPayroll.total_earnings</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }

        </div>
    </main>

</body>
</html>