@model SistemaPlanillas.Models.ViewModels.MultipleModels

@{
    string UserDepart = ViewBag.UserDept;
    int idUserLogin = ViewBag.idUserLogin;
}

<html coupert-item="9AF8D9A4E502F3784AD24272D81F0381">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HumanResources</title>

    <!-- Custom styles for this template -->
    <link href="/Content/bootstrap-transform.css" rel="stylesheet">
    <link href="~/Content/StyleForms.css" rel="stylesheet" />
</head>
<body>
    <nav id="navbar" class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">XYZ S.A.</font></font></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Navegación de palanca">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("EmployeeView", "Role", new { userId = idUserLogin })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Home</font></font></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("ProfileModule", "Role", new { userId = idUserLogin })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Profile</font></font></a>
                    </li>
                    <li>
                        <a class="nav-link" href="@Url.Action("ConsultModule", "Employee", new { userId = idUserLogin })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Consult</font></font></a>
                    </li>
                    <li>
                        <a class="nav-link" href="@Url.Action("LicencesViewUser", "Licence", new { id = idUserLogin })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Licence</font></font></a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Home")"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Log Out</font></font></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="assign-role-wrapper">
        <div class="container">

            <h1>CONSULT MODULE</h1>

            <!-- PAYROLL BUTTONS SECTION -->
            <div class="row" style="margin-bottom:30px;">
                <!-- Monthly SECTION -->
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary" id="monthlyBtn">Monthly<i class='bx bx-calendar'></i></button>
                </div>
                <div class="col-md-2">
                    <!-- Hourly SECTION -->
                    <button type="submit" class="btn btn-primary" id="hourlyBtn">Hourly<i class='bx bx-calendar'></i></button>
                </div>
            </div>

            <!-- TABLE FOR MONTHLY SECTION -->
            <table class="table" id="monthlyTable">
                <thead>
                    <tr>
                        <th scope="col">Salary</th>
                        <th scope="col">Extra Payments</th>
                        <th scope="col">Deductions </th>
                        <th scope="col">Total days Worked</th>
                        <th scope="col">Total Earnings</th>
                    </tr>
                </thead>
                <tbody>
                    @if (@Model.UsersWithInfo.SalaryType == "Monthly")
                    {
                        foreach (var MonthlyPayments in Model.MonthlyPayments)
                        {
                            <tr>
                                <td>@Model.UsersWithInfo.Salary</td>
                                <td>@Model.UsersWithInfo.PaymentsExtraordinary</td>
                                <td>@Model.UsersWithInfo.Deductions</td>
                                <td>@MonthlyPayments.MonthlyPayroll.total_workDays</td>
                                <td>@MonthlyPayments.MonthlyPayroll.total_earnings</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

            <!-- TABLE FOR HOURLY SECTION -->
            <table class="table" style="display:none;" id="hourlyTable">
                <thead>
                    <tr>
                        <th scope="col">Salary</th>
                        <th scope="col">Extra Payments</th>
                        <th scope="col">Deductions </th>
                        <th scope="col">Work Day</th>
                        <th scope="col">Work Hours</th>
                        <th scope="col">Total Earnings</th>
                    </tr>
                </thead>
                <tbody>
                    @if (@Model.UsersWithInfo.SalaryType == "Hourly")
                    {
                        foreach (var HourlyPayments in Model.HourlyPayments)
                        {
                            <tr>
                                <td>@Model.UsersWithInfo.Salary</td>
                                <td>@Model.UsersWithInfo.PaymentsExtraordinary</td>
                                <td>@Model.UsersWithInfo.Deductions</td>
                                <td>-</td>
                                <td>-</td>
                                <td>@HourlyPayments.History.payment_amount</td>
                            </tr>
                            foreach (var hourlyPayment in HourlyPayments.HourlyPayrolls)
                            {
                                <tr>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>@hourlyPayment.work_day</td>
                                    <td>@hourlyPayment.total_earnings</td>
                                    <td>-</td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>

        </div>
    </main>

    <script src="~/Scripts/JS/ToggleForm.js"></script>

    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
